@import '../../responsive.scss';

.cert {
    margin: 0;
    padding: 0;
    width: 100vw;


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 40px;
        width: 100vw;

        .header {

            h2 {
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: 600;
                color: #147efb;
                border-bottom: 2px solid ;
                width: fit-content;
                padding-bottom: 10px;
                transition: all 0.4s ease;
                border-radius: 50%;
    
                &:hover {
                    scale: 1.07;
                    border-radius: 0;
                }
                
            }
        }

        .content  {
            width: 80vw;
            // padding-top: 50px;

            
            .logo {
                width: 80%;

                img {
                    cursor: pointer;

                    @include desktop {
                        width: 50vw;
                        height: 60vh;
                    }

                    @include tablet {
                        width: 70vw;
                        height: 60vh;
                    }
                }
            }
        }
    }
}